footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  